# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/

# Environment variables
.env

# IDE specific files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints

# Local development
.DS_Store